#nav-bar {
  z-index: 1030;
}


 textarea {
  width: 100%;
  padding: 6px
}

span.counter {
  float: right;
}

h2 {
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-top: 0px;
}

/* Compose the new tweet */
section.new-tweet {
  background-color: rgb(211, 205, 205);
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: none

}
header {
  height: 60px;
  padding: 6px;
  font-size: 24px;
}

header img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  float: left;
}

div.name {
  float: left;
  font-size: 30px
}





header.tweetheader {
  font-size: 24px;
  padding: 8px;
  opacity: 1;
}

header div {
  float: right;
  font-size: 14px;
}

article#tweet {
  padding: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(211, 205, 205);
  overflow: hidden;
}

article#tweet {
  border: 1px solid;
  border-radius: 10px;
  opacity: 1;
}
.shadow:hover {
  opacity: 1;
}

.shadow{
  opacity: .8;
}

footer {
  border-top: 1px solid rgb(165, 160, 160);
  padding: 8px;
  background-color: white;

}
p.centered-tweet {
  display: inline-block;
  padding: 10px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  background-color: white;
  opacity: 1;
  width: 410px;
}
input .button {
  float: right;
}

#empty-error {
	padding: 2px;
	margin-top: 5px;
	color: red;
	display: none;
}

#hide-empty-error {
	padding: 2px;
	margin-top: 5px;
	color: red;
	display: none;
}
